<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
        	<link href="{{ asset('css/jquery-mobile/jquery.mobile-1.4.5.min.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
        	<script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery-mobile/jquery.mobile-1.4.5.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    	{% block menu %}
    	<nav class="navbar navbar-default">
    	<ul class="nav navbar-nav">
		  <li role="presentation" {% if (activeTab == "campaigns") %}class="active"{% endif %}><a href="/campaigns"><span class="glyphicon glyphicon-home"></span> Campagnes</a></li>
		  <li role="presentation" {% if (activeTab == "dashboard") %}class="active"{% endif %}><a href="#"><span class="glyphicon glyphicon glyphicon-pencil"></span> Tableau de bord</a></li>
		  <li role="presentation" {% if (activeTab == "timeline") %}class="active"{% endif %}><a href="#"><span class="glyphicon glyphicon-book"></span> Timeline</a></li>
		</ul>
		<div class="nav navbar-nav navbar-right">
			{% block toolbar %}{% endblock %}
		</div>
		</nav>
    	{% endblock %}
        {% block body %}{% endblock %}
        <div 
    </body>
</html>
